/* css presenation debut */

h1 {
    font-family: 'Italianno', cursive;
    font-size: 100px;
    color: #CEA068;
    margin: 0px;
}

.containerPres {
    position: relative;
    text-align: center;
    color: white;
    
}

#presentation {
    font-family: 'Bellota Text', cursive;
    color: white;
    font-size: 25px;
    text-align: justify;

}

.centeredText {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  .imagePres {
      margin-top: 100px;
  }


/* css presenation fin */
/************************SIZEIMG********************/
.size{
    width: 600px;
    height: 350px;

    display: flex;
    align-items: center

}

.size_pizza{
    width: 700px;
    height: 450px;

    display: flex;
    align-items: center;

}

.size_antipasti{
    width: 600px;
    height: 350px;

    display: flex;
    align-items: center;

}

/*****************************************/
.eat_display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eat_display p{
    margin: 0px;
}

.eat_display h2{
    text-align: center;

    width: 40%;

    font-family: 'Italianno' ;
    font-size: xx-large;
    color: #CEA068;

    margin: 0px;
}

.align_size{
    display: flex;
    flex-direction: column;
    
    width: 50%;
}

/******************LISTE*******************/

.eat_display ul{
    list-style: none;
    font-size: medium;
}

.eat_display li{
    padding: 0.3em 0;
}
/*************************************/


/******************SEPARATION*******************/
.categorySeparation{
    display: flex;
    justify-content: center;   
    align-items: center;
}

.separation{
    height: 10vh;
}

.separationAll{
    height: 10vh;
}

.productName{
    color: #CEA068;
    font-size: xx-large;

}

/*************************************/

/******************début navigation*******************/
*, ::before, ::after {
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0px;
}

.outer-container {
    max-width: 1200px;
    margin: auto;
}

nav {
    width: 100%;
    background: fixed;
    position: fixed;
    transition: all 0.3s ease-out;
    z-index: 3;
    background-color: white;
}

nav ul {
    margin-right: 20px;
}

#logo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.anim-nav {
    background: rgb(255, 255, 255);
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.liste {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    color: #CEA068;
    margin: 5px 10px;
    font-size: 25px;
}

/*****************fin navigation********************/

/* début du css nous contacter  */
#contact{
    color: #CEA068;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

iframe {
    width: 100%;
}

.coord {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.coord1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coord1 li{
    list-style: none;
}
.coord p{
    color:#534F48;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.schedule {
    display: flex;
    align-content: center;
    justify-content: center;
}

.schedule p{
    color: #534F48;
    font-size: 20px;
    margin-top: 30px;
}

/* fin du css de nous contacter */
.footerPosition{
    background-color: #CEA068;
    height: 18vh;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: dashed;

    color: whitesmoke;
}

.footerPosition a{
    color: whitesmoke;
    text-decoration: none;
}

.footerPosition a:hover{
    background-color: #d6b184;
    text-decoration: underline 1px;
}

